# Node.js priklausomybės
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Aplinkos kintamieji
.env
.env.local
.env.development
.env.test
.env.production

# Sistemos failai
.DS_Store
Thumbs.db

# Log failai
*.log
logs/
pids/
*.pid
*.seed
*.pid.lock

# Kodo kompiliavimo failai
dist/
build/

# IDE failai
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Git išskirtiniai failai
*.swp
*.swo
*.bak
*.tmp
*.~undo-tree~

# Testavimo failai
coverage/
*.lcov
nyc_output/
